*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}

.nav{
 width: 100%;
    height: 100px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 3vw;
    border-bottom: 2px solid #f4e869;
}

.nav-part2{
    display: flex;
    /* background-color: blue; */
    gap: 4vw;
    align-items: center;
}

.nav h2{
    font-size: 5vw;
    font-weight: 700;
    color: #fff;
    background-color:black;
    border-style:groove;
    border-radius: 5px;
}

.nav h4{
    font-size: 1.3vw;
    color: #fff;

}

.nav i{
    font-weight: 800;
    display: none;
}

@media (max-width:600px){
    .nav{
        background-color: rgb(22, 21, 21);
        color: #fff;
        padding: 0 5vw;
        height: 90px;
    }
    .nav h2{
       font-size: 10vw;
       /* background-color:black; */
       color: #fff;
       border-style: groove;
       border-radius :5px;
       }
       
    }
    .nav h4{
        font-size: 1.3vw;
         /* display: none; */

    }


    @media (max-width:600px){
    .nav i{
        font-size: 6vw;
        color:white;
        display:block;
    }
}
    



.ri-menu-3-fill{
    color: #fff;
}




.nav-part2 a{
    text-decoration: none;
    color:black;
}
.icon1 h3{
    align-items: center;
    justify-content: center;
    padding: 1vw;
    padding-left: 55vw;
    padding-top: 20vw;
    color:black;
}
.main1{
    background-color: #d8d8d8;
    height: 100%;
}

.ri-menu-3-fill1{
    /* padding-top: 5vw; */
}
@media (max-width:600px){
    .index-body{
        background-color: rgb(42, 41, 41);
    }

}
.imgheight{
    margin-top: 5px;
    height: 200px;
    
}
.h2{
    color: #fff;    

}

.wrapper{

width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

@media(min-width:600px){
    .image{
    width: 500px;
    position: relative;
    margin-left: 32vw;
    margin-top: 20px;
}
}
img{
    width: 100%;
    display: block;
    margin: auto;
}




 @media(min-width:600px){
.content{
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    position: absolute;
    background:rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
}

.content:hover{
opacity: 1;
}

@media(max-width:600px){
    .nav-part2 h4{
display: none;
    }
}

@media(min-width:600px){
.content h1{
    font-size: 50px;
    color: #ffe100;
    margin-top: 150px;
}
}

@media(min-width:600px){
.abt-button{
    padding: 5px 10px 5px 10px;
    font-size: 1.5vw;
    border-radius: 10px;
}
}

@media(max-width:600px){
.abt-button{
    padding: 10px 10px 10px 10px;
    font-size: 3.5vw;
    border-radius: 10px;
    display: none;

}
}

@media(max-width:600px){
    .content h1{
        font-size: 30px;
        color: #ffe100;
        display: none;
    }
    }

.content > *{
    transform:translateY(25px);
    transition: transform 0.6s;
}   


.content:hover > *{
    transform:translateY(0px);
}   

@media(min-width:600px){

}

@media(min-width:600px){

    .index-body{
        background-color: rgb(33, 32, 32);

    }
}

.myphotos{
color: #fff;
font-size: 6.5vw;
margin-top: 3vw;
margin-left: 25vw;
padding-bottom:35px;
}

.whoiam{
    color: #f4e869;
    margin-left: 40vw;
    font-size: 1.8vw;
    margin-top: -14.5vw;
}

@media(max-width:600px){
    .myphotos{
        color: #fff;
        font-size: 10vw;
        margin-top: 6vw;
        margin-left: 8vw;
        }
        
        .whoiam{
            color: #f4e869;
            margin-left: 7.5vw;
            font-size:6vw;
            margin-top: -9vw;
            padding-right: 5px;
            font-weight:500;
        }

}


@media(min-width:600px){

.container2{
    height: 100%;
    width: 50%;
    background-color:black;
    height: 75vw;
    width: 50%;
    /* margin-left: 50%; */
    margin-bottom:50vw;
    margin-top: -50vw;
}
.molly{

    padding: 15vw 5vw 15vw 5vw;
}
.about{
    color: #fff;
    font-size: 4vw;
    margin-left:110%;
    margin-top: -70vw;
}
.about-1{
    color: #fff;
    padding-bottom:30vw;
}
.abt-h3{
    color: #fff;
    margin-left:50%;
    margin-top:-105vw;
    padding-top: -0vw;
    font-size: 2vw;
}
.abt-h3 span{
    color: #e6e3b8;
}
}

@media(max-width:600px){
.button2{
    font-size: 4.5vw;
    background-color:#fff;
    position: absolute;
    top: 50%;
    left: 10%;
    padding: 2vw 2vw 2vw 2vw;
    border-radius: 8px;


}

}

@media(min-width:600px){

    
.button2{
display: none;
}

    }

    @media(max-width:600px){
        .about{
            color: #fff;
            margin-top: -280vw;
            margin-left: 5vw;
            font-size: 10vw;
        }
        .abt-h3{
         color: #fff;
         margin-top: -135vw;
         width:fit-content;  
         font-size:6vw;
         padding-left: 5px;

        }
        .abt-h3 span{
            color:#e6e3b8;
        }
        .container2{
        }
        .molly{
        opacity: 0;
        }
    }

@media(min-width:600px){
   .container{
    margin-top:8vw;

   }
}


@media(min-width:600px){
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.container .box{
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 0;
/* align-items: center; */
}

.container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
    height: 100%;
}
 
.container .box .dream img{
    width:100%;
    padding-bottom: 15px;
    border-radius: 5px;
}
}

@media(max-width:600px){
    .dream img{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom:5%;
        border-radius:3px;
    }
}